body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    color: rgb(97, 5, 62);
    
}
.container {
    background-color: #fff;
    width: 350px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(183, 6, 6, 0.758);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    text-align: center;
}

.board-container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 10px;
}

.cell {
    background-color: #e6e6e6;
    border: 2px solid #058f93;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    cursor: pointer;
}

.footer {
    text-align: center;
}

#result {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: green;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}